*{
    margin:0;
    font-family:Verdana,sans-serif;
    font-size:10px;
    line-height:1.5;
    color: white;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
label{
    
    font-size: 1.5em;
}
select{
    padding:9px 0;
    width:30%;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ff9800;
    cursor:pointer;
}
button{
    border:none;display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:white;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius: 5px;
    color: #FFC107;
}
button:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.to-upper{
    text-transform: uppercase;
}
.center{
    margin: 0 auto;
    text-align: center;
}
.whole-container{
    background-color: #FFC107;
    width: 40%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}
#poke-logo{
    width: 150px;
}
.poke-details{
    margin-top:20px;
    text-align: left;
    background-color: #ff9800;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
}
/* .container-select{
    
} */
.selects{
    display: inline-flex;
}
.explore{
    margin-top: 20px;
}
.backpack img{
    position: relative;
    float: right;
    right: -30px;
    top: -60px;
    cursor: pointer;
}
.container-capture{
    background-color: #ff9800;
    width: 15%;
    border-radius: 5px;
    right: 250px;
    margin-top: -70px;
    position: absolute;
}
/* .capture-details{
    display: contents;
} */
.capture-details div{
    display: flex;
    margin-top: 20px;
    height: 50px;
    /* background-color: green; */
}
.capture-details div img{
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
    /* background-color: red; */
}
.capturedTotal{
    display: none;
}